<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.us_2_0">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.US_2_0"
        tools:replace="android:allowBackup,android:theme,android:icon,android:roundIcon">
        <activity
            android:name=".Resources"
            android:exported="false" />
        <activity
            android:name=".MonthViewActivity"
            android:exported="true" />
        <activity
            android:name=".WeekViewActivity"
            android:exported="true" />
        <activity
            android:name=".EventEditActivity"
            android:exported="true" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".LandingPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>